/* Provide color and styling options for the quiz button */
.quiz-box {
    background-color: #ECE159;
    /* font-family: JINKY; */
    font-size: 400%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
.highlighted {
    text-shadow: 2px 2px rgb(167, 165, 82);
}

/* set classes to be adjusted by JS */
.hidden {
    display: none;
}
.results-mark {
    width: 20%;
}
