@font-face {
    font-family: 'RockSalt-Regular';
    src: url('../assets/Rock_Salt/RockSalt-Regular.ttf')  format('truetype');
}
@font-face {
    font-family: 'YesevaOne-Regular';
    src: url('../assets/Yeseva_One/YesevaOne-Regular.ttf')  format('truetype');
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../assets/Montserrat/Montserrat-Regular.ttf')  format('truetype');
}
@font-face {
    font-family: 'Montserrat-ExtraBoldItalic';
    src: url('../assets/Montserrat/Montserrat-ExtraBoldItalic.ttf')  format('truetype');
}
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../assets/Montserrat/Montserrat-SemiBold.ttf')  format('truetype');
}
@font-face {
    font-family: 'Montserrat-Black';
    src: url('../assets/Montserrat/Montserrat-Black.ttf')  format('truetype');
}

h1 {
    font-family: 'Montserrat-SemiBold';
    font-size: 222%;
}
article h2, section h2 {
    font-family: 'Montserrat-SemiBold';
    width: 100%;
}
article, section {
    /* font-family: 'YesevaOne-Regular'; */
    font-family: 'Montserrat-SemiBold';
}
.caption {
    font-family: helvetica;
    font-size: 0.8em
}

/* create a centered box for all tags in the body */
header, main, .quiz-box, footer {
    width: 80%;
    max-width: 60rem;
    border: 0px;
    padding: 10px;
    margin: auto;
}

/* Set a background color behind the content */
body {
    background-color: #511638;
}

/* provide unique colors for the main content boxes */
main {
    background-color: #4ACEDB;
}
header {
    background-color: #D85735;
}
footer {
    background-color: #DB2048;
}

/* set classes to be adjusted by JS */
.hidden {
    display: none;
}
.invisible {
    visibility: hidden;
}

/* set up floating classes */
.float-right {
    float: right;
}
.float-left {
    float: left;
}

/* Border details for iFrame elements */
iFrame {
    border: 0px;
}

/* adjust image sizes */
.small-logo {
    height: 60px;
    padding: 20px;
}
.logo-top {
    vertical-align: middle;
}

/* The text and images in the header need to be massaged to look good on a single line */
header {
    font-size: 130%;
    text-align: center;
}
#alchemy-logo {
    width: 15%;
}
#github-logo {
    width: 7%;
}

/* Special formatting for the header, footer and nav regions */
footer {
    font-size: 100%;
}

header {
    font-family: 'RockSalt-Regular';    
}

nav table {
    font-size: 0.9em;
    width: 100%;
    margin: auto;   
}